h1 {
  text-align: center;
}

.container {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
}

button {
  width: 100px;
  height: 100px;
  font-size: larger;
}
