/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: FallingSkyBird;
  src: url("./assets/FallingSkyBlack-GYXA.otf") format("truetype");
}

@font-face {
  font-family: FallingSkyCondensed;
  src: url("./assets/FallingSkyCondensed-9qm2.otf");
}

p {
  font-family: "FallingSkyCondensed";
}

h3,
h1,
button,
label {
  font-family: "FallingSkyBird";
}
