<button (click)="onBack()" class="back-button">&leftarrow; back</button>
<div class="center">
  <h1>ADD CARD</h1>
  <form [formGroup]="myForm" (ngSubmit)="submit()">
    <div class="inputbox">
      <input type="text" name="name" formControlName="business_name" />
      <label>Name</label>
    </div>
    <div class="inputbox">
      <select formControlName="industry">
        <option *ngFor="let value of values" [ngValue]="value">
          {{value}}
        </option>
      </select>
      <label>Industry</label>
    </div>
    <div class="inputbox">
      <label>On russian market</label>
      <input
        type="checkbox"
        name="russian"
        class="checkbox"
        formControlName="russian"
      />
    </div>
    <div class="inputbox">
      <button class="button">Send</button>
    </div>
  </form>
</div>
